article {
    display: flex;
    flex-direction: column;
    background-color: var(--coolor-white-000);

    margin: 5% auto;
    padding: 1.5rem 3rem;
    border-radius: 5px;
}

article .info-blog {
    display: flex;
    justify-content: space-between;
    line-height: 1.6rem;
    font-size: 1.6rem;
    color:  var(--coolor-gray-100);
    margin: 5px 0 20px 0;

}

article .info-blog img {
    max-width: 2.3rem;
    height: auto;
}

article .content-blog h3 {
    font-size: 2.5rem;
    line-height: 2.5rem;

}

article .content-blog p {
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: var(--coolor-gray-100);
    margin-top: 10px;
}

