html {
    font-size: 62.5%;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--coolor-gray-200);
}

.container {
    max-width: 900px;
    width:  95%;  
}

@media (max-width: 425px) {
    html {
        font-size: 35%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
        
    }

    header {
        height: 200px;
    }
}

