* {
 --coolor-purple-dark :#574AE8;   
 --coolor-purple-light :#3EA1DB;   
 --coolor-white-000 :#FFFFFF; 
 --coolor-white-100 :rgba(245, 245, 245,0.2);
 --coolor-white-200 :#F3F5F7; 


 --coolor-gray-100: #717171;
 --coolor-gray-200: #F5F5F5;
 --coolor-gray-300: #1A202C;
 --coolor-gray-400: #0C0C0C;
}